.mu-dropdown-panel {
  position: fixed !important;
  z-index: var(--mu-z-index-popup);

  overflow: hidden;

  padding: var(--mu-half-spacing);
  // border: 1px solid var(--mu-border-color-soft);
  border-radius: var(--mu-radius-panel);

  text-align: start;
  
  opacity: 0;
  background: var(--mu-bg-overlay);
  box-shadow: var(--mu-shadow-popup);

  transition-duration: .1s;
  transition-property: opacity;

  &.mu-scrollbar {
    overflow: auto;
  }

  &[position="top"],
  &[position="bottom"] {
    transform: scaleY(0);
    transition-property: transform, opacity;

    &[pop-up] {
      transform: scaleY(1);
    }
  }

  &[position="bottom"] {
    transform-origin: top;
    margin-top: var(--mu-half-spacing);
  }

  &[position="top"] {
    transform-origin: bottom;
    margin-bottom: var(--mu-half-spacing);
  }

  &[pop-up] {
    opacity: 1;
  }
}

.mu-dropdown-panel.mu-popup-mask {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;

  border: none;
  border-radius: 0;

  background-color: var(--mu-bg-mask);
  box-shadow: none;
}

.mu-dropdown-panel__items {
  max-height: calc(var(--mu-list-item-height) * 8);
}
