.mu-check,
.mu-radio {
  --mu-check_size: 16px;

  cursor: pointer;
  user-select: none;

  display: flex;
  gap: var(--mu-base-spacing);
  align-items: center;

  font-size: var(--mu-common-font-size);
  line-height: var(--mu-common-line-height);

  & > span {
    display: block;
    color: var(--mu-text-color-normal);
  }

  & > input {
    cursor: pointer;

    flex: none;

    width: var(--mu-check_size);
    height: var(--mu-check_size);
    margin: 0;

    accent-color: var(--mu-primary-color);
  }

  &[disabled] {
    pointer-events: none;

    & > input {
      opacity: .67;
    }

    & > span {
      color: var(--mu-text-color-soft);
    }
  }
}
