.mu-check,
.mu-radio {
  cursor: pointer;
  user-select: none;

  display: flex;
  gap: var(--mu-base-spacing);
  align-items: center;

  max-width: 100%;

  font-size: var(--mu-font-size-normal);
  line-height: var(--mu-control-height-normal);
  color: var(--mu-text-color-normal);

  & > input {
    cursor: pointer;

    flex: none;

    width: 16px;
    height: 16px;
    margin: 0;

    accent-color: var(--mu-primary-color);
  }

  & > span {
    overflow: hidden;
    flex: 1 1 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.mu-check-group[disabled] > .mu-check,
.mu-radio-group[disabled] > .mu-radio,
.mu-check[disabled],
.mu-radio[disabled] {
  pointer-events: none;
  color: var(--mu-text-color-soft);

  & > input {
    opacity: .67;
  }
}
