.mu-dropdown-panel.mu-date-input_dropdown {
  width: 320px;
  height: 280px;

  & > .mu-calendar {
    width: 100%;
    height: 100%;
  }

  & .mu-month-picker {
    flex: 1 1 0;
    margin-top: 4px;
  }
}
