.mu-select {
  width: auto;
}

.mu-select_value {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  align-self: stretch;

  width: auto;

  &:empty::before {
    content: attr(placeholder);
    color: var(--mu-text-color-placeholder);
  }
}
