.mu-switch {
  --mu-switch_height: 20px;
  --mu-switch_ball-size: 12px;
}

.mu-switch {
  cursor: pointer;
  user-select: none;

  position: relative;

  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 40px;
  height: var(--mu-switch_height);
  padding-right: 4px;
  padding-left: var(--mu-switch_height);
  border-radius: calc(var(--mu-switch_height) / 2);

  font-size: 12px;

  background-color: var(--mu-gray);

  transition: all 0.2s ease-in-out;

  &::after {
    content: '';

    position: absolute;
    left: calc((var(--mu-switch_height) - var(--mu-switch_ball-size)) / 2);

    display: inline-block;

    width: var(--mu-switch_ball-size);
    height: var(--mu-switch_ball-size);
    border-radius: calc(var(--mu-switch_ball-size) / 2);

    background-color: #fff;

    transition: all 0.1s ease-in-out;
  }

  & > span {
    color: #fff;
  }

  & > .mu-switch_label {
    margin-right: 4px;
  }

  &:hover {
    background-color: var(--mu-gray-4);
  }

  &[active] {
    padding-right: var(--mu-switch_height);
    padding-left: 4px;
    background-color: var(--mu-primary-color);

    &::after {
      left: calc(100% - (var(--mu-switch_height) + var(--mu-switch_ball-size)) / 2);
    }

    &[success] {
      background-color: var(--mu-success-color);
    }
  
    &[danger] {
      background-color: var(--mu-danger-color);
    }

    & > .mu-switch_label {
      margin-right: 0;
      margin-left: 4px;
    }
  }

  &[active]:hover {
    background-color: var(--mu-primary-color-4);

    &[success] {
      background-color: var(--mu-success-color-4);
    }
  
    &[danger] {
      background-color: var(--mu-danger-color-4);
    }
  }

  &[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: .67;
  }
}
