html {
  color: $normalTextColor;
  font-size: $documentFontSize;
  font-weight: $documentFontWeight;
}

body {
  font-size: 100%;
}

html,
button {
  font-family: -apple-system,
               BlinkMacSystemFont,
               "PingFang SC",
               "Hiragino Sans GB",
               "Microsoft YaHei",
               "Helvetica Neue",
               Helvetica,
               Arial,
               sans-serif;
}

[class^="mu-"] {
  box-sizing: border-box;
}
