.mu-button {
  --size: var(--mu-input-size);

  cursor: pointer;
  user-select: none;

  position: relative;

  display: inline-flex;
  flex: none;
  gap: var(--mu-content-spacing);
  align-items: center;
  justify-content: center;

  min-width: var(--size);
  height: var(--size);
  padding: 0 15px;
  border-radius: var(--mu-common-border-radius);

  font-family: inherit;
  font-size: var(--mu-common-font-size);
  font-weight: 500;
  line-height: var(--mu-common-line-height);
  text-decoration: none;
  white-space: nowrap;

  outline: none;

  & > .mu-icon {
    font-size: calc(1em + 2px);
  }

  &.mu-icon-button {
    padding: 0 !important;
  }
}

.mu-button--small {
  --size: var(--mu-input-size-small);

  padding: 0 7px;
  font-size: 12px;
}

.mu-button--large {
  --size: var(--mu-input-size-large);

  padding: 0 23px;
  font-size: 16px;
}

.mu-button--round {
  border-radius: calc(var(--size) / 2);
}

.mu-button {
  --border-color: var(--mu-border-color-normal);

  border: 1px solid var(--border-color);
  color: var(--mu-text-color-subtle);
  background: var(--mu-bg-normal);
}

.mu-button--active {
  z-index: 1;
  color: var(--mu-primary-color-6);
  background: rgb(from var(--mu-primary-color-6) r g b / 0.1);
}

.mu-button {
  &:hover {
    --border-color: var(--mu-primary-color-4);

    z-index: 2;
    color: var(--mu-primary-color-4);
    background: rgb(from var(--mu-primary-color-4) r g b / 0.1);
  }

  &.mu-button--active {
    --border-color: var(--mu-primary-color-6);
  }

  &:focus {
    box-shadow: var(--mu-shadow-focus) rgb(from var(--border-color) r g b / 0.15);
  }
}

@each $v in ('primary', 'secondary', 'danger') {
  .mu-button--#{$v} {
    --border-color: var(--mu-#{$v}-color);

    &.mu-button {
      color: #fff;
      background: var(--mu-#{$v}-color);
    }

    &.mu-button--active {
      --border-color: var(--mu-#{$v}-color-6);

      background: var(--mu-#{$v}-color-6);
    }

    &:hover {
      --border-color: var(--mu-#{$v}-color-4);

      background: var(--mu-#{$v}-color-4);
    }

    &.mu-button--outline,
    &.mu-button--text,
    &.mu-button--link {
      color: var(--mu-#{$v}-color);
    }
  }
}

.mu-button {
  &.mu-button--outline {
    background: transparent;
  }

  &.mu-button--link {
    height: unset;
    padding: 0;
  }

  &.mu-button--disabled {
    pointer-events: none;
    border-color: var(--mu-border-color-soft);
    color: var(--mu-text-color-muted) !important;
    background: var(--mu-bg-disabled);
  }

  &.mu-button--text,
  &.mu-button--link {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
  }
}

.mu-button--text,
.mu-button--outline {
  &:hover,
  &.mu-button--active {
    background: rgb(from var(--border-color) r g b / 0.1);
  }
}
