.mu-button {
  --size: var(--mu-control-height-normal);

  cursor: pointer;
  user-select: none;

  position: relative;

  display: inline-flex;
  gap: var(--mu-inline-spacing);
  align-items: center;
  justify-content: center;

  min-width: var(--size);
  height: var(--size);
  padding: 0 15px;
  border-radius: var(--mu-common-border-radius);

  font-family: inherit;
  font-size: var(--mu-font-size-normal);
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;

  outline: none;

  &.mu-icon,
  & > .mu-icon {
    font-size: 16px;
  }
}

.mu-button--pill {
  border-radius: calc(var(--size) / 2);
}

.mu-button--small {
  --size: var(--mu-control-height-small);

  padding: 0 7px;
  font-size: 12px;


  &.mu-icon,
  & > .mu-icon {
    font-size: 14px;
  }
}

.mu-button--large {
  --size: var(--mu-control-height-large);

  padding: 0 23px;
  font-size: 16px;

  &.mu-icon,
  & > .mu-icon {
    font-size: 18px;
  }
}

.mu-button--link {
  height: unset;
  padding: 0;
}

.mu-button {
  --intent-color: var(--mu-border-color-normal);

  border: 1px solid var(--intent-color);
  color: var(--mu-text-color-subtle);
  background: var(--mu-bg-normal);

  &[active] {
    --intent-color: var(--mu-primary-color-6);

    z-index: 1;
    color: var(--intent-color);
    background: rgb(from var(--intent-color) r g b / 0.1);
  }

  &:hover,
  &:active {
    --intent-color: var(--mu-primary-color-4);

    z-index: 2;
    color: var(--intent-color);
    background: rgb(from var(--intent-color) r g b / 0.1);
  }

  &:focus {
    box-shadow: var(--mu-shadow-focus) rgb(from var(--intent-color) r g b / 0.15);
  }
}

@each $v in ('primary', 'secondary', 'danger') {
  .mu-button--#{$v} {
    --intent-color: var(--mu-#{$v}-color);

    &.mu-button {
      color: #fff;
      background: var(--intent-color);
    }

    &.mu-button--active,
    &[active] {
      --intent-color: var(--mu-#{$v}-color-6);
    }

    &:hover {
      --intent-color: var(--mu-#{$v}-color-4);
    }

    &.mu-button--outline,
    &.mu-button--text,
    &.mu-button--link {
      color: var(--intent-color);
    }
  }
}

.mu-button {
  &.mu-button--outline {
    background: transparent;
  }

  &[disabled] {
    pointer-events: none;
    border-color: var(--mu-border-color-soft);
    color: var(--mu-text-color-muted);
    background: var(--mu-bg-disabled);
  }

  &.mu-button--text,
  &.mu-button--link {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
  }
}

.mu-button--text,
.mu-button--outline {
  &:hover, &[active] {
    background: rgb(from var(--intent-color) r g b / 0.1);
  }
}

.mu-icon-button {
  width: var(--size);
  padding: 0 !important;

  & > svg {
    display: block;
    width: 1em;
    height: 1em;
  }
}
