.mu-button-group {
  display: inline-flex;

  & > .mu-button {
    --divider-color: var(--intent-color);

    &:not(:first-of-type) {
      margin-left: -1px;
      border-left-color: var(--divider-color);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-of-type) {
      border-right-color: var(--divider-color);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  & > .mu-button--primary,
  & > .mu-button--secondary,
  & > .mu-button--danger {
    --divider-color: rgb(from var(--mu-bg-normal) r g b / 0.25);
  }

  & > .mu-button--outline {
    --divider-color: var(--intent-color);
  }

  & > .mu-button--disabled {
    --divider-color: var(--mu-border-color-soft);
  }
}
