.mu-tool-button {
  --size: var(--mu-control-height-normal);

  cursor: pointer;
  user-select: none;

  position: relative;

  display: inline-flex;
  flex: none;
  align-items: center;
  justify-content: center;

  width: var(--size);
  height: var(--size);
  padding: 0;
  border-radius: var(--mu-common-border-radius);

  font-size: 18px;
  font-weight: 400;
  text-decoration: none;

  outline: none;

  & > svg {
    display: block;
    width: 1em;
    height: 1em;
  }
}

.mu-tool-button--small {
  --size: var(--mu-control-height-small);

  font-size: 14px;
}

.mu-tool-button--large {
  --size: var(--mu-control-height-large);

  font-size: 22px;
}


.mu-tool-button {
  --intent-color: var(--mu-text-color-subtle);

  color: var(--intent-color);

  &[active] {
    --intent-color: var(--mu-primary-color-6);

    z-index: 1;
    border: 1px solid var(--intent-color);
    background: rgb(from var(--intent-color) r g b / 0.1);
  }

  &:hover,
  &:active {
    --intent-color: var(--mu-primary-color-4);

    z-index: 2;
    background: rgb(from var(--intent-color) r g b / 0.1);
  }

  &:focus {
    box-shadow: var(--mu-shadow-focus) rgb(from var(--intent-color) r g b / 0.15);
  }
}

.mu-tool-button--danger {
  &[active] {
    --intent-color: var(--mu-danger-color-6);
  }

  &:hover {
    --intent-color: var(--mu-danger-color-4);
  }

}

.mu-tool-button[disabled] {
  pointer-events: none;
  color: var(--mu-text-color-muted);
}
