.mu-tool-button {
  --mu-button_size: var(--mu-input-size);

  cursor: pointer;
  user-select: none;

  position: relative;

  display: inline-flex;
  flex: none;
  align-items: center;
  justify-content: center;

  min-width: var(--mu-button_size);
  height: var(--mu-button_size);
  padding: 0;
  border-radius: var(--mu-common-border-radius);

  font-size: 18px;
  font-weight: 400;
  line-height: var(--mu-common-line-height);
  text-decoration: none;

  outline: none;

  &[size="small"] {
    --mu-button_size: var(--mu-input-size-small);

    font-size: 14px;
  }

  &[size="large"] {
    --mu-button_size: var(--mu-input-size-large);

    font-size: 22px;
  }

  & > svg {
    display: block;
    width: 1em;
    height: 1em;
  }
}

.mu-tool-button {
  color: var(--mu-text-color-soft);

  &:hover {
    color: var(--mu-primary-color-4);
    background-color: var(--mu-gray-translucent);
  }

  &[active] {
    border:  1px solid var(--mu-primary-color);
    background-color: var(--mu-primary-translucent);
  }
}

.mu-tool-button--danger {
  &:hover {
    color: var(--mu-danger-color-4);
  }

  &[active] {
    border-color: var(--mu-danger-color);
    background-color: var(--mu-danger-translucent);
  }
}

.mu-tool-button[disabled] {
  pointer-events: none;
  color: var(--mu-text-color-muted);
}
