.mu-color-input__grid {
  display: flex;
  gap: 2px;
  width: auto !important;
}

.mu-color-input__grid-row {
  display: flex;
  flex: none;
  flex-direction: column;
  gap: 2px;
}

.mu-color-input__color-block {
  cursor: pointer;

  flex: none;

  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;

  text-align: center;

  transition: transform 0.1s ease, box-shadow 0.1s ease;

  &[active] {
    border: 1px solid rgba(0, 0, 0, 0.15);
    animation: mu-color-block-breathing 1.2s ease-in-out infinite;
  }

  &:hover {
    z-index: 1;
    transform: scale(1.15);
    animation: none;
  }
}

@keyframes mu-color-block-breathing {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }
}
