.mu-form-field {
  display: flex;
  gap: var(--mu-base-spacing);
  align-items: center;

  width: 100%;

  font-size: var(--mu-common-font-size);

  & > .mu-form-field__label {
    display: block;
    flex: none;
    font-size: var(--mu-common-font-size);
    color: var(--mu-text-color-subtle);
  }

  &[label-align="right"] {
    & > .mu-form-field__label {
      text-align: right;
    }
  }

  &[label-align="top"] {
    flex-wrap: wrap;
    align-items: flex-start;

    & > .mu-form-field__label {
      width: 100%;
    }
  }

  & > .mu-input,
  & > .mu-input-group {
    flex: 1 1 0;
  }

  & > .mu-form-field__suffix {
    flex: none;
    align-self: center;
    color: var(--mu-text-color-subtle);
    white-space: nowrap;
  }
}

.mu-form-field--invalid {
  & > .mu-form-field__label {
    color: var(--mu-danger-color);
  }
}

.mu-form-field--required {
  & > .mu-form-field__label {
    &::after {
      content: "*";
      margin-left: 4px;
      color: var(--mu-danger-color);
    }
  }

  &[label-align="right"] > .mu-form-field__label {
    &::before {
      content: "*";
      margin-right: 4px;
      color: var(--mu-danger-color);
    }

    &::after {
      display: none;
    }
  }
}
