.mu-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  padding: var(--mu-base-spacing);
  border-radius: var(--mu-common-border-radius);
  
  & > hr {
    flex-basis: 100%;
    margin: var(--mu-base-spacing);
    border: none;
    border-bottom: 1px dashed var(--mu-border-color-soft);
  }

  .mu-form-field {
    padding: var(--mu-base-spacing);
  }
}

.mu-form-row {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.mu-form__title {
  width: 100%;
  margin-top: var(--mu-base-spacing);
  padding: 0 var(--mu-base-spacing);

  font-weight: 600;
  line-height: var(--mu-input-size);
}

hr + .mu-form__title,
.mu-form-row > .mu-form__title,
.mu-form__title:first-child {
  margin-top: 0;
}
