.mu-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border-radius: var(--mu-common-border-radius);
  
  & > hr {
    flex-basis: 100%;
    margin: var(--mu-base-spacing);
    border: none;
    border-bottom: 1px dashed var(--mu-border-color-soft);
  }

  .mu-form-field {
    padding: var(--mu-base-spacing);
  }
}

.mu-form-row {
  display: flex;
  align-items: center;
  width: 100%;
}
