.mu-multi-select {
  justify-content: flex-start;

  &.mu-input {
    height: auto;
    min-height: var(--mu-input_height);
  }

  &[nowrap] {
    justify-content: center;
    height: var(--mu-input_height);
  }
}
