.mu-date-range-editor_to {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid $normalDividerColor;
  border-right: 1px solid $normalDividerColor;
}
