.mu-search-box[value-mode=select] {
  & > input {
    font-style: italic;
    color: $normalWeakTextColor;

    &::placeholder {
      font-style: normal;
    }
  }

  & > input:focus,
  &[valid] > input {
    font-style: normal;
    color: $normalTextColor;
  }
}

.mu-search-box_placeholder {
  padding: 5px;
  line-height: 20px;
  text-align: center;
}