.mu-list-divider {
  margin-top: 4px;
  padding-top: 10px;
  color: var(--mu-text-color-muted);
  border-top: 1px solid var(--mu-border-color-muted);

  &:empty {
    margin-bottom: 4px;
    padding: 0;

    &:first-child,
    &:last-child,
    & + .mu-list-divider:empty {
      display: none;
    }

    & + .mu-list-divider {
      margin-top: 0;
      border-top: 0;
    }
  }
  
  & > label {
    font-size: 0.8em;
    font-weight: 500;
  }
}

.mu-scrollbar_tracks + .mu-list-divider,
.mu-list-divider:first-child {
  margin-top: 0;
  padding-top: 6px;
  border-top: 0;
}
