.mu-tab-buttons {
  position: relative;

  display: flex;
  flex: 0 1 auto;
  gap: var(--mu-inline-spacing);
  align-self: stretch;

  min-width: 0;

  &.mu-tab-buttons--vertical {
    flex-direction: column;
    min-width: auto;
    min-height: 0;
  }
}

.mu-tab-buttons__container {
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
}

.mu-tab-buttons--vertical {
  & > .mu-tab-buttons__container {
    flex-direction: column;
    min-width: auto;
    min-height: 0;
  }
}

.mu-tab-buttons__content {
  display: flex;
  flex: none;
  gap: var(--mu-half-spacing);
  align-items: center;
}

.mu-tab-buttons--vertical {
  & > .mu-tab-buttons__container > .mu-tab-buttons__content {
    flex-direction: column;
    align-items: stretch;
  }
}

.mu-tab-buttons__shift {
  display: flex;
  flex: none;
  align-self: center;

  & > .mu-button {
    touch-action: none;
  }
}
