.mu-tabs {
  display: flex;
  flex-direction: column;
  background: var(--mu-bg-normal);

  &[tab-position=bottom] {
    flex-direction: column-reverse;
  }

  &[tab-position=left] {
    flex-direction: row;
  }

  &[tab-position=right] {
    flex-direction: row-reverse;
  }
}
