.mu-paging-bar {
  margin-top: $halfSpacingSize;

  & > label {
    display: inline-block;
    margin: 0;
    min-width: 80px;
    text-align: center;
  }

  &[bordered],
  &.mu-bordered {
    margin-top : -1px;
    padding: 4px;
  }

  & > .mu-button {
    height: 24px;
    padding: 0 10px;
    margin-right: 0;

    &[icon-only] {
      width: 24px;
      padding: 0;
    }
  }
}
