.mu-scrollbar {
  --mu-scrollbar_width: 6px;
  --mu-scrollbar_margin: 3px;
  --mu-scrollbar_min-length: 32px;
  --mu-scrollbar_border-radius: 3px;
  --mu-scrollbar_color: rgb(from var(--mu-gray) r g b / 0.5);
  --mu-scrollbar_active-color: rgb(from var(--mu-gray) r g b / 0.8);
  --mu-scrollbar_background: rgba(0, 0, 0, 0);

  scrollbar-width: none;
  overflow: auto;

  &::-webkit-scrollbar {
    display:none;
  }
}

.mu-scrollbar_tracks {
  user-select: none;

  position: sticky !important;
  z-index: 10;
  top: 0;
  left: 0;

  overflow: visible;

  width: 0;
  height: 0;

  opacity: 0;

  transition: opacity 0.5s ease-in-out;
}

.mu-scrollbar_track-x,
.mu-scrollbar_track-y {
  position: absolute;
  overflow: hidden;
  border-radius: var(--mu-scrollbar_border-radius);
  background: var(--mu-scrollbar_background);
}

.mu-scrollbar_track-x > .mu-scrollbar_thumb,
.mu-scrollbar_track-y > .mu-scrollbar_thumb {
  position: absolute;
  border-radius: var(--mu-scrollbar_border-radius);
  background: var(--mu-scrollbar_color);
}

.mu-scrollbar_track-x:active > .mu-scrollbar_thumb,
.mu-scrollbar_track-x > .mu-scrollbar_thumb:hover,
.mu-scrollbar_track-y:active > .mu-scrollbar_thumb,
.mu-scrollbar_track-y > .mu-scrollbar_thumb:hover {
  background: var(--mu-scrollbar_active-color);
}

.mu-scrollbar_track-x {
  height: var(--mu-scrollbar_width);
}

.mu-scrollbar_track-x > .mu-scrollbar_thumb {
  min-width: var(--mu-scrollbar_min-length);
  height: 100%;
}

.mu-scrollbar_track-y {
  width: var(--mu-scrollbar_width);
}

.mu-scrollbar_track-y > .mu-scrollbar_thumb{
  width: 100%;
  min-height: var(--mu-scrollbar_min-length);
}

.mu-scrollbar:hover > .mu-scrollbar_tracks,
.mu-scrollbar:active > .mu-scrollbar_tracks,
.mu-scrollbar[scrollbar-visible=always] > .mu-scrollbar_tracks {
  opacity: 1;
}

.mu-scrollbar[scrollbar-visible=hidden] {
  overflow: hidden;
}

.mu-scrollbar[scrollbar-visible=hidden] > .mu-scrollbar_tracks {
  display: none !important;
}