.mu-tab-bar {
  padding: var(--mu-half-spacing);
  background: var(--mu-bg-strong);
}

.mu-tab-bar__buttons {
  display: flex;
  gap: var(--mu-half-spacing);
  align-items: center;
  align-self: stretch;
}

.mu-tab-bar--left,
.mu-tab-bar--right {
  align-items: stretch;

  & > .mu-tab-bar__buttons {
    flex-direction: column;
    align-items: stretch;
  }
}

.mu-tab-bar--left .mu-tab-button {
  justify-content: end;
  padding: 0 calc(var(--mu-base-spacing) * 2);
}

.mu-tab-bar--right .mu-tab-button {
  justify-content: start;
  padding: 0 calc(var(--mu-base-spacing) * 2);
}
