.mu-tab-bar--simple {
  --mu-tab-bar_indicator-size: 2px;

  border: 0 solid var(--mu-border-color-soft);
  background: unset;

  & > .mu-tab-bar__buttons {
    align-items: stretch;
  }

  & .mu-tab-button {
    height: auto;
    min-height: var(--mu-control-height-small);
    border-radius: 0;
    background: unset;

    &::after {
      content: '';

      position: absolute;
      inset: 0;

      display: none;

      border: 0 solid var(--mu-primary-color);
    }

    &:hover {
      color: var(--mu-primary-color-4);
    }
  
    &.mu-tab-button--active {
      color: var(--mu-primary-color);

      &::after {
        display: block;
      }
    }
  }

  @each $pos, $side in (top: bottom, bottom: top, left: right, right: left) {
    &.mu-tab-bar--#{$pos} {
      border-#{$side}-width: var(--mu-tab-bar_indicator-size);

      & .mu-tab-button--active::after {
        #{$side}: calc((var(--mu-tab-bar_indicator-size) + var(--mu-half-spacing)) * -1);
        border-#{$side}-width: var(--mu-tab-bar_indicator-size);
      }
    }
  }

  &.mu-tab-bar--left,
  &.mu-tab-bar--right {
    & .mu-tab-button {
      height: var(--mu-control-height-normal);
    }
  }
}
