.mu-tab-button {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: inline-flex;
  flex: none;
  gap: var(--mu-inline-spacing);
  align-items: center;
  justify-content: center;

  height: var(--mu-control-height-normal);
  padding: 0 12px;
  border-radius: var(--mu-radius-control);

  font-size: var(--mu-font-size-normal);
  font-weight: 500;
  color: var(--mu-text-color-normal);
  text-decoration: none;

  outline: none;

  & > span {
    display: block;
  }

  &:hover {
    background: var(--mu-gray-translucent);
  }

  &[active] {
    color: #fff;
    background: var(--mu-primary-color);
  }

  &[disabled] {
    pointer-events: none;
    cursor: default;
    color: var(--mu-text-color-muted) !important;
    background: unset !important;
  }
}

.mu-tab-bar--small-button {
  & .mu-tab-button {
    height: var(--mu-control-height-small);
    padding: 0 8px;
  }
}
