.mu-tab-bar {
  flex: none;
  background: var(--mu-bg-strong);
}

.mu-tab-bar__buttons {
  display: flex;
  gap: var(--mu-content-spacing);
  align-items: center;
  align-self: stretch;
}

.mu-tab-bar {
  &[tab-position=left],
  &[tab-position=right] {
    flex-direction: column;
    align-items: stretch;
    height: unset;
    padding: var(--mu-base-spacing);

    & > .mu-tab-bar__buttons {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &[tab-position=left] .mu-tab-button {
    justify-content: end;
  }

  &[tab-position=right] .mu-tab-button {
    justify-content: start;
  }
}
