.mu-tab-button {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: flex;
  flex: none;
  gap: var(--mu-inline-spacing);
  align-items: center;
  justify-content: center;

  height: var(--mu-control-height-normal);
  padding: 0 12px;
  border-radius: var(--mu-radius-control);

  font-size: var(--mu-font-size-normal);
  font-weight: 500;
  color: var(--mu-text-color-normal);
  text-decoration: none;

  &:hover {
    background: var(--mu-gray-translucent);
  }

  &.mu-tab-button--active {
    color: #fff;
    background: var(--mu-primary-color);
  }

  &.mu-tab-button--disabled {
    pointer-events: none;
    cursor: default;
    color: var(--mu-text-color-muted);
  }
}

.mu-tab-button--small {
  height: var(--mu-control-height-small) !important;
  padding: 0 var(--mu-base-spacing);
}
