@each $v in ('normal', 'strong', 'fill', 'disabled', 'overlay', 'mask') {
  .mu-bg-#{$v} {
    background-color: var(--mu-bg-#{$v});
  }
}

.mu-masked {
  pointer-events: none;
  background-color: var(--mu-bg-mask);
  filter: blur(4px);
}
