.mu-dark {
  --mu-gray: $neutral4;

  --mu-text-color-normal: var(--mu-gray-2);
  --mu-text-color-clear: var(--mu-gray-1);
  --mu-text-color-soft: var(--mu-gray-4);
  --mu-text-color-muted: var(--mu-gray-5);
  --mu-text-color-weak: var(--mu-gray-6);

  --mu-bg-normal: var(--mu-gray-9);
  --mu-bg-strong: rgba(255, 255, 255, .1);
  --mu-bg-marked: rgba(255, 255, 255, .15);
  --mu-bg-disabled: rgba(255, 255, 255, .15);

  --mu-bg-overlay: var(--mu-gray-7);

  --mu-translucent-gray: rgb(from var(--mu-gray) r g b / 0.2);

  @each $v in (primary, success, warning, danger, accent) {
    --mu-translucent-#{$v}: rgb(from var(--mu-#{$v}-color) r g b / 0.2);
  }

  --mu-border-color: var(--mu-gray-5);
  --mu-border-color-muted: var(--mu-gray-6);
}
