.mu-dark {
  --mu-gray: #{$neutral4};

  --mu-text-color-clear: var(--mu-text-gray-0);
  --mu-text-color-normal: var(--mu-text-gray-2);
  --mu-text-color-subtle: var(--mu-text-gray-4);
  --mu-text-color-soft: var(--mu-text-gray-5);
  --mu-text-color-muted: var(--mu-text-gray-6);

  --mu-bg-normal: #000;
  --mu-bg-strong: rgb(from var(--mu-bg-gray-0) r g b / 0.08);
  --mu-bg-marked: rgb(from var(--mu-bg-gray-0) r g b / 0.14);
  --mu-bg-disabled: rgb(from var(--mu-bg-gray-0) r g b / 0.11);

  --mu-bg-overlay: var(--mu-bg-gray-4);

  --mu-translucent-gray: rgb(from var(--mu-gray) r g b / 0.2);

  @each $v in (primary, success, warning, danger, accent) {
    --mu-translucent-#{$v}: rgb(from var(--mu-#{$v}-color) r g b / 0.2);
  }

  --mu-border-color-normal: var(--mu-border-gray-2);
  --mu-border-color: var(--mu-border-color-normal);
  --mu-border-color-strong: var(--mu-border-gray-0);
  --mu-border-color-muted: var(--mu-border-gray-3);
}
