$FLEX_DIRECTIONS: (
  ('row', 'row'),
  ('row-reverse', 'row-reverse'),
  ('col', 'column'),
  ('col-reverse', 'column-reverse')
);

@each $v in ('static', 'fixed', 'absolute', 'relative', 'sticky') {
  .#{$v} {
    position: #{$v};
  }
}

.inset-0 {
  inset: 0;
}

@each $v in ('float', 'layer', 'modal', 'popup', 'ontop') {
  .z-#{$v} {
    --z-offset: 0;

    z-index: calc(var(--mu-z-index-#{$v}) + var(--z-offset));
  }
}

@each $v in (
  'inline', 'block', 'inline-block', 'flex', 
  'inline-flex', 'grid', 'inline-grid', 'contents'
) {
  .#{$v} {
    display: #{$v};
  }
}

.hidden {
  display: none;
}

@each $v in ('auto', 'hidden', 'visible', 'clip') {
  .overflow-#{$v} {
    overflow: #{$v};
  }
}

.flex-divider {
  display: block;
  flex: 0 0 2px;
  align-self: stretch;
  background-color: var(--mu-border-color-soft);

  @for $i from 1 through 4 {
    &--stroke-#{$i} {
      flex-basis: #{$i}px;
    }
  }

  &--pill {
    flex-basis: 4px;
    align-self: center;

    width: 64px;
    max-width: 50%;
    height: 64px;
    max-height: 50%;
    border-radius: 2px;
  }
}

.flex-space {
  display: block;
  flex: 1 1 0;

  @for $i from 1 through 4 {
    $v: calc($i * var(--mu-base-spacing));

    &[space="#{$i}x"] {
      flex: 0 0 $v;
    }
  }
}

.flex-break {
  display: block;
  flex: 0 0 100%;
}

@each $k, $v in $FLEX_DIRECTIONS {
  .flex-#{$k} {
    flex-direction: #{$v};
  }
}

@each $v in (0, 1, 2, 3, 4, 5, 6, 7, 8) {
  .flex-#{$v} {
    flex: #{$v} #{$v} 0;
  }
}

.flex-none {
  flex: none;
}

.flex-auto {
  flex: auto;
}

.flex-initial {
  flex: 0 auto;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

@each $v in ('wrap', 'nowrap', 'wrap-reverse') {
  .flex-#{$v} {
    flex-wrap: #{$v};
  }
}

.flex-center {
  align-items: center;
  justify-content: center;
}

@each $v in (center, start, end, baseline, stretch, flex-start, flex-end, unset, inherit) {
  .items-#{$v} {
    align-items: $v;
  }

  .self-#{$v} {
    align-self: $v;
  }
}

.self-auto {
  align-self: auto;
}

@each $v in (start, center, end, baseline, stretch, flex-start, flex-end) {
  .content-#{$v} {
    align-content: $v;
  }
}

@each $v in (around, between, evenly) {
  .content-#{$v} {
    align-content: space-#{$v};
  }
}

@each $v in (normal, start, center, end, baseline, stretch, flex-start, flex-end) {
  .justify-#{$v} {
    justify-content: $v;
  }
}

@each $v in (center, end) {
  .justify-#{$v}-safe {
    justify-content: safe #{$v};
  }
}

@each $v in (around, between, evenly) {
  .justify-#{$v} {
    justify-content: space-#{$v};
  }
}

@each $v in (normal, start, center, end, stretch) {
  .justify-items-#{$v} {
    justify-items: space-#{$v};
  }
}

@each $v in (center, end) {
  .justify-items-#{$v}-safe {
    justify-items: safe #{$v};
  }
}

@each $v in (auto, start, center, end, stretch) {
  .justify-self-#{$v} {
    justify-self: space-#{$v};
  }
}

@each $v in (center, end) {
  .justify-self-#{$v}-safe {
    justify-self: safe #{$v};
  }
}

.gap-none {
  gap: unset;
}

.gap-half {
  gap: var(--mu-half-spacing);
}

@for $i from 1 through 4 {
  .gap-#{$i}x {
    gap: calc($i * var(--mu-base-spacing));
  }
}
