@each $v in ('static', 'fixed', 'absolute', 'relative', 'sticky') {
  .#{$v} {
    position: #{$v};
  }
}

@each $v in ('float', 'layer', 'modal', 'popup', 'ontop') {
  .z-#{$v} {
    --z-offset: 0;

    z-index: calc(var(--mu-z-index-#{$v}) + var(--z-offset));
  }
}

@each $v in (
  'inline', 'block', 'inline-block', 'flex', 
  'inline-flex', 'grid', 'inline-grid', 'contents'
) {
  .#{$v} {
    display: #{$v};
  }
}

.hidden {
  display: none;
}

@each $v in ('auto', 'hidden', 'visible', 'clip') {
  .overflow-#{$v} {
    overflow: #{$v};
  }
}

@each $v in ('row', 'row-reverse') {
  .flex-#{$v} {
    flex-direction: #{$v};
  }
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-none {
  flex: none;
}

.flex-1 {
  flex: 1;
}

.flex-auto {
  flex: auto;
}

.flex-initial {
  flex: 0 auto;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

@each $v in ('wrap', 'nowrap', 'wrap-reverse') {
  .flex-#{$v} {
    flex-wrap: #{$v};
  }
}

.flex-center {
  align-items: center;
  justify-content: center;
}

@each $v in (
  center, start, end, baseline, stretch,
  flex-start, flex-end, unset, inherit
) {
  .items-#{$v} {
    align-items: $v;
  }

  .self-#{$v} {
    align-self: $v;
  }
}

@each $v in (
  start, end, left, right, baseline, center, stretch,
  flex-start, flex-end, space-around, space-between, space-evenly
) {
  .justify-#{$v} {
    justify-content: $v;
  }
}

.gap-none {
  gap: unset
}

@for $i from 1 through 4 {
  .gap-#{$i}x {
    gap: calc($i * var(--mu-base-spacing));
  }
}

.flex-divider {
  display: block;
  flex: 0 0 2px;
  align-self: stretch;
  background-color: var(--mu-border-color-soft);

  @for $i from 1 through 4 {
    &[line-width="#{i}"] {
      flex-basis: #{$i}px;
    }
  }
}

.flex-spacer {
  display: block;
  flex: 1 1 0;

  @for $i from 1 through 4 {
    $v: calc($i * var(--mu-base-spacing));

    &[space="#{$i}x"] {
      flex: 0 0 $v;
    }
  }
}

.flex-break {
  display: block;
  flex: 0 0 100%;
}
