a.mu-icon,
.mu-link {
  --mu-link_color: var(--mu-text-color-normal);
  --mu-link_hover-color: var(--mu-primary-color-4);

  &[primary] {
    --mu-link_color: var(--mu-primary-color);
  }

  &[accent] {
    --mu-link_color: var(--mu-accent-color);
    --mu-link_hover-color: var(--mu-accent-color-4);
  }

  &[danger] {
    --mu-link_color: var(--mu-danger-color);
    --mu-link_hover-color: var(--mu-danger-color-4);
  }
}

.mu-link, a.mu-icon {
  cursor: pointer;
  color: var(--mu-link_color);
  text-decoration: none;

  &:hover {
    color: var(--mu-link_hover-color);
  }

  &[disabled] {
    pointer-events: none;
    color: var(--mu-text-color-subtle);
  }
}

.mu-link {
  &[decoration="underline"], &:hover {
    text-decoration: underline;
  }

  &[decoration="none"] {
    text-decoration: none;
  }
}
