.mu-link {
  cursor: pointer;
  color: var(--mu-primary-color);
  text-decoration: none;
  text-underline-offset: 2px;

  &:hover {
    color: var(--mu-primary-color-4);
    text-decoration: underline;
  }
}

.mu-link--danger {
  color: var(--mu-danger-color);

  &:hover {
    color: var(--mu-danger-color-4);
  }
}

.mu-link[disabled] {
  pointer-events: none;
  color: var(--mu-text-color-muted);
}
