.mu-root {
  @each $v in (
    "red", "pink", "grape", "violet", "indigo", "blue",
    "cyan", "teal", "green", "lime", "yellow", "orange"
  ) {
    --mu-#{$v}: #{map.get($colors, $v)};
  }

  @each $v in (primary, secondary, success, warning, danger) {
    --mu-#{$v}-color: #{map.get($colors, $v)};

    @for $i from 0 through 9 {
      --mu-#{$v}-color-#{$i}: #{map.get($colors, #{$v}#{$i})};
    }
  }

  --mu-gray: #{map.get($colors, neutral5)};

  @for $i from 0 through 9 {
    --mu-gray-#{$i}: #{map.get($colors, neutral#{$i})};
  }

  // 文本灰（10 级）
  --mu-text-gray: #{map.get($colors, textGray5)};
  --mu-text-gray-0: #{map.get($colors, textGray0)};
  --mu-text-gray-1: #{map.get($colors, textGray1)};
  --mu-text-gray-2: #{map.get($colors, textGray2)};
  --mu-text-gray-3: #{map.get($colors, textGray3)};
  --mu-text-gray-4: #{map.get($colors, textGray4)};
  --mu-text-gray-5: #{map.get($colors, textGray5)};
  --mu-text-gray-6: #{map.get($colors, textGray6)};
  --mu-text-gray-7: #{map.get($colors, textGray7)};
  --mu-text-gray-8: #{map.get($colors, textGray8)};
  --mu-text-gray-9: #{map.get($colors, textGray9)};

  // 边框灰（5 级）
  --mu-border-gray: #{map.get($colors, borderGray2)};
  --mu-border-gray-0: #{map.get($colors, borderGray0)};
  --mu-border-gray-1: #{map.get($colors, borderGray1)};
  --mu-border-gray-2: #{map.get($colors, borderGray2)};
  --mu-border-gray-3: #{map.get($colors, borderGray3)};
  --mu-border-gray-4: #{map.get($colors, borderGray4)};

  // 背景灰（5 级）
  --mu-bg-gray: #{map.get($colors, bgGray2)};
  --mu-bg-gray-0: #{map.get($colors, bgGray0)};
  --mu-bg-gray-1: #{map.get($colors, bgGray1)};
  --mu-bg-gray-2: #{map.get($colors, bgGray2)};
  --mu-bg-gray-3: #{map.get($colors, bgGray3)};
  --mu-bg-gray-4: #{map.get($colors, bgGray4)};
}

.mu-root {
  --mu-text-color-clear: var(--mu-text-gray-9);
  --mu-text-color-normal: var(--mu-text-gray-7);
  --mu-text-color-subtle: var(--mu-text-gray-5);
  --mu-text-color-soft: var(--mu-text-gray-4);
  --mu-text-color-muted: var(--mu-text-gray-3);

  --mu-bg-normal: #fff;
  --mu-bg-strong: rgb(from var(--mu-bg-gray-4) r g b / 0.08);
  --mu-bg-marked: rgb(from var(--mu-bg-gray-4) r g b / 0.14);
  --mu-bg-disabled: rgb(from var(--mu-bg-gray-4) r g b / 0.11);

  --mu-bg-mask: rgba(0, 0, 0, .5);
  --mu-bg-overlay: var(--mu-bg-normal);

  --mu-translucent-gray: rgb(from var(--mu-gray) r g b / 0.1);

  @each $v in (primary, secondary, success, warning, danger) {
    --mu-translucent-#{$v}: rgb(from var(--mu-#{$v}-color) r g b / 0.1);
  }

  --mu-border-color-normal: var(--mu-border-gray-2);
  --mu-border-color: var(--mu-border-color-normal);
  --mu-border-color-strong: var(--mu-border-gray-3);
  --mu-border-color-muted: var(--mu-border-gray-1);
}

.mu-root {
  --mu-z-index-float: 1;
  --mu-z-index-layer: 10;
  --mu-z-index-modal: 100;
  --mu-z-index-popup: 1000;
  --mu-z-index-ontop: 10000;

  --mu-base-spacing: 8px;
  --mu-content-spacing: 5px;

  --mu-common-font-size: 14px;
  --mu-common-line-height: 20px;

  --mu-common-border-radius: 4px;
  --mu-window-border-radius: 8px;

  --mu-input-size: 32px;
  --mu-input-size-small: 24px;
  --mu-input-size-large: 40px;

  --mu-shadow-focus: 0 0 0 2px;
  --mu-shadow-float: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.06);
  --mu-shadow-popup: 0 2px 4px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.08);
  --mu-shadow-layer: 0 4px 8px rgba(0, 0, 0, 0.16), 0 8px 16px rgba(0, 0, 0, 0.12);
  --mu-shadow-modal: 0 6px 12px rgba(0, 0, 0, 0.16), 0 12px 24px rgba(0, 0, 0, 0.12);
}

*, ::before, ::after {
  box-sizing: border-box;
}

.mu-root {
  font-family:
    -apple-system, BlinkMacSystemFont,
    "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "Microsoft JhengHei",
    "WenQuanYi Micro Hei",
    "Helvetica Neue", Helvetica, Arial,
    system-ui, sans-serif;
  font-size: var(--mu-common-font-size);
  font-weight: 400;
  color: var(--mu-text-color-normal);

  background-color: var(--mu-bg-normal);

  & :fullscreen {
    background-color: var(--mu-bg-normal);
  }
}

.mu-dark {
  --mu-gray: #{map.get($colors, neutral4)};

  --mu-text-color-clear: var(--mu-text-gray-0);
  --mu-text-color-normal: var(--mu-text-gray-2);
  --mu-text-color-subtle: var(--mu-text-gray-4);
  --mu-text-color-soft: var(--mu-text-gray-5);
  --mu-text-color-muted: var(--mu-text-gray-6);

  --mu-bg-normal: #000;
  --mu-bg-strong: rgb(from var(--mu-bg-gray-0) r g b / 0.08);
  --mu-bg-marked: rgb(from var(--mu-bg-gray-0) r g b / 0.14);
  --mu-bg-disabled: rgb(from var(--mu-bg-gray-0) r g b / 0.11);

  --mu-bg-overlay: var(--mu-bg-gray-4);

  --mu-translucent-gray: rgb(from var(--mu-gray) r g b / 0.2);

  @each $v in (primary, success, warning, danger, accent) {
    --mu-translucent-#{$v}: rgb(from var(--mu-#{$v}-color) r g b / 0.2);
  }

  --mu-border-color-normal: var(--mu-border-gray-2);
  --mu-border-color: var(--mu-border-color-normal);
  --mu-border-color-strong: var(--mu-border-gray-0);
  --mu-border-color-muted: var(--mu-border-gray-3);
}
