.mu-flex-collapsed {
  display: none !important;
}

.mu-flex-splitter {
  --mu-flex-splitter_full-size: 4px;
  --mu-flex-splitter_slim-size: 2px;

  --mu-flex-splitter_bar-size: var(--mu-flex-splitter_full-size);
  --mu-flex-splitter_stripe-size: 3px;

  user-select: none;

  position: relative;
  z-index: 10;

  overflow: visible;
  display: none;
  flex: 0 0 var(--mu-flex-splitter_full-size);
  align-items: center;
  align-self: stretch;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    background: var(--mu-border-color-muted);
  }

  &[border-radius]::before {
    border-radius: var(--mu-flex-splitter_full-size);
  }

  &[direction] {
    display: flex;
  }

  &[size="concealed"] {
    &::before {
      background: transparent;
    }

    &::after {
      opacity: 0;
    }
  }

  &[size="slim"] {
    --mu-flex-splitter_bar-size: var(--mu-flex-splitter_slim-size);

    flex-basis: var(--mu-flex-splitter_slim-size);
  }

  &[space-free],
  &[size="concealed"] {
    flex-basis: 0;
  }

  &[collapsed] {
    z-index: 15;

    &::before {
      background: var(--mu-border-color-muted);
    }
  }

  &:hover {
    z-index: 15;

    &::before {
      background: var(--mu-primary-color);
    }
  }

  &[active] {
    z-index: 20;

    &::before {
      background: var(--mu-primary-color);
    }
  }

  &:hover,
  &[active],
  &[collapsed] {
    --mu-flex-splitter_bar-size: var(--mu-flex-splitter_full-size);
  }

  &[resizable="no"] {
    pointer-events: none;
  }
}

.mu-resizing :not(.mu-flex-splitter[active]) {
  pointer-events: none;
}

.mu-flex-splitter_stripe {
  position: absolute;
  display: block;
  color: #fff;
}

.mu-flex-splitter {
  &[size="slim"],
  &[size="concealed"] {
    & > .mu-flex-splitter_stripe {
      display: none;
    }
  }

  &:hover,
  &[active] {
    & > .mu-flex-splitter_stripe {
      display: block;
    }
  }
}

.mu-flex-splitter[direction="row"] {
  cursor: col-resize;

  &::before {
    top: 0;
    bottom: 0;
    width: var(--mu-flex-splitter_bar-size);
  }

  & > .mu-flex-splitter_stripe {
    width: var(--mu-flex-splitter_stripe-size);
  }
}

.mu-flex-splitter[direction="column"] {
  cursor: row-resize;

  &::before {
    right: 0;
    left: 0;
    height: var(--mu-flex-splitter_bar-size);
  }

  & > .mu-flex-splitter_stripe {
    height: var(--mu-flex-splitter_stripe-size);
  }
}

.mu-flex-splitter[shape="bubble"] {
  &::before {
    background-color: transparent;
  }

  &::after {
    content: '';

    position: absolute;

    border-radius: var(--mu-flex-splitter_full-size);

    background-color: #FFF;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .35);

    transition: all .3s;
  }

  &:hover,
  &[active] {
    &::after {
      opacity: 1;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, .5);
    }
  }

  &[direction="row"] {
    &::after {
      top: auto;
      bottom: auto;

      width: var(--mu-flex-splitter_bar-size);
      height: 48px;
      max-height: 80%;
    }

    &[active]::after {
      transform: scaleY(1.2);
    }
  }

  &[direction="column"] {
    &::after {
      right: auto;
      left: auto;

      width: 48px;
      max-width: 90%;
      height: var(--mu-flex-splitter_bar-size);
    }


    &[active]::after {
      transform: scaleX(1.2);
    }
  }
}
