.mu-resizing {
  pointer-events: none;
}

.mu-flex-splitter {
  --full-size: 4px;
  --slim-size: 2px;
  --pill-length: 48px;

  pointer-events: auto;
  user-select: none;

  position: relative;
  z-index: 10;

  overflow: visible;
  display: flex;
  flex: 0 0 var(--full-size);
  align-items: center;
  align-self: stretch;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
  }

  &::after {
    content: '';

    position: absolute;

    border-radius: calc(var(--full-size) / 2);

    background: var(--mu-border-color-soft);

    transition: transform .3s, opacity 0.2s;
  }

  &:hover {
    z-index: 15;
  }

  &[active] {
    z-index: 20;
  }

  &--slim {
    flex-basis: var(--slim-size);
  }

  &--hidden {
    flex-basis: 0;

    &::after {
      background: none;
    }
  }


  &:hover,
  &[active] {
    &::after {
      background: var(--mu-primary-color);
    }
  }

  &.mu-flex-splitter--pill {
    flex-basis: 0;

    &::after {
      width: 0;
      height: 0;

      opacity: 0;
      background-color: #FFF;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, .5);
    }

    &:hover,
    &[active] {
      &::after {
        opacity: 1;
      }
    }
  }
}

.mu-flex-splitter--row {
  cursor: col-resize;

  &::before,
  &::after {
    top: 0;
    bottom: 0;
    width: var(--full-size);
  }

  &.mu-flex-splitter--slim {
    &::after {
      width: var(--slim-size);
    }
  }

  &:hover,
  &[active] {
    &::after {
      width: var(--full-size);
    }
  }

  &.mu-flex-splitter--pill {
    &::after {
      top: auto;
      bottom: auto;

      width: var(--full-size);
      height: var(--pill-length);
      max-height: 80%;
    }

    &[active]::after {
      transform: scaleY(1.2);
    }
  }
}

.mu-flex-splitter--col {
  cursor: row-resize;

  &::before,
  &::after {
    right: 0;
    left: 0;
    height: var(--full-size);
  }

  &.mu-flex-splitter--slim {
    &::after {
      height: var(--slim-size);
    }
  }

  &:hover,
  &[active] {
    &::after {
      height: var(--full-size);
    }
  }

  &.mu-flex-splitter--pill {
    &::after {
      right: auto;
      left: auto;

      width: var(--pill-length);
      max-width: 80%;
      height: var(--full-size);
    }

    &[active]::after {
      transform: scaleX(1.2);
    }
  }
}
