.mu-icon {
  display: inline-block;
  font-size: 1.15rem;
  transition: all .2s ease-in-out;

  & svg {
    vertical-align: -0.15em;
    width: 1em;
    height: 1em;
  }
}

[icon="dropdown"][expanded],
[expanded] > [icon="dropdown"] {
  transform: rotate(-180deg);
}