.mu-calendar-grid {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  flex: 1 0 0;

  width: 100%;

  & th, & td {
    padding: 8px;
    line-height: 1;
  }
  
  & th {
    height: 40px;
    font-weight: 600;
    color: var(--mu-text-color-soft);
  }
  
  & td {
    cursor: pointer;
    border: 1px solid var(--mu-border-color-muted);
    color: var(--mu-text-color-normal);
    vertical-align: top;

    &:hover {
      background-color: var(--mu-translucent-gray);
    }

    &[muted] {
      cursor: default;
      color: var(--mu-text-color-muted);
      background: none;
    }

    &[present] {
      color: var(--mu-secondary-color);
    }

    &[selected] {
      color: var(--mu-primary-color);
      background-color: var(--mu-translucent-primary);
    }
  }
}

.mu-dropdown-panel .mu-calendar-grid {
  & th, & td {
    border: none;
    text-align: center;
    vertical-align: middle;
  }
}