.mu-calendar {
  display: flex;
  flex-direction: column;

  font-size: var(--mu-common-font-size);
  color: var(--mu-text-color-normal);

  background-color: var(--mu-bg-normal);

  & .mu-caption {
    margin-right: auto;
  }
}

.mu-calendar_dropdown {
  width: 320px;
  height: 240px;
}
