.mu-date-grid {
  cursor: default;

  display: grid;
  grid-auto-rows: 1fr;
  gap: var(--mu-half-spacing);

  font-size: var(--mu-font-size-normal);
  font-weight: 400;
  color: var(--mu-text-color-normal);
}

.mu-date-cell {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--mu-common-border-radius);

  &:hover {
    background-color: var(--mu-gray-translucent);
  }

  &[muted] {
    cursor: default;
    color: var(--mu-text-color-muted);
    background: none;
  }

  &[selected] {
    color: var(--mu-primary-color);
    background-color: var(--mu-primary-translucent);
  }

  &[present] {
    color: var(--mu-secondary-color);
  }
}
