.mu-month-picker {
  display: flex;
  flex-direction: column;
  gap: 4px;
  
  & > .mu-bar {
    background-color: var(--mu-bg-strong);
  }

  & td[data-year]:before {
    content: attr(data-year);
  }

  & td[data-month]:before {
    content: attr(data-month);
  }
}
