.mu-month-picker {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & td[data-year]:before {
    content: attr(data-year);
  }

  & td[data-month]:before {
    content: attr(data-month);
  }
}

.mu-dropdown-panel > .mu-month-picker {
  height: 100%;
}
