.mu-icon[trigger-type] {
  display: inline-block;
  cursor: pointer;
}

.mu-icon[trigger-type="expander"] {
  transition: transform .2s ease-in-out;

  &[trigger-on] {
    transform: rotate(-180deg);
  }
}

.mu-dropdown[expanded] [trigger-type="expander"] {
  transform: rotate(-180deg);
}

.mu-icon[trigger-type="close"]:hover {
  fill: $buttonDangerHoverColor;
  color: $buttonDangerHoverColor;
}
