.mu-icon[trigger-type] {
  cursor: pointer;
}

.mu-icon {
  &[trigger-type="dropdown"],
  &[trigger-type="expander"] {
    transition: transform .2s ease-in-out;

    &[trigger-on] {
      transform: rotate(-180deg);
    }
  }
}

.mu-dropdown[expanded] [trigger-type="dropdown"] {
  transform: rotate(-180deg);
}

.mu-icon[trigger-type="close"]:hover {
  fill: $buttonDangerHoverColor;
  color: $buttonDangerHoverColor;
}
