.mu-dialog {
  --mu-dialog-padding: 12px;

  position: absolute;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  min-width: 320px;
  max-width: 100%;
  min-height: 200px;
  max-height: 100%;
  border-radius: var(--mu-window-border-radius);

  font-size: var(--mu-font-size-normal);
  color: var(--mu-text-color-normal);

  background: var(--mu-bg-overlay);
  box-shadow: var(--mu-shadow-modal);

  transition: transform .2s, opacity .2s;

  &[dragging] {
    opacity: .8;
  }
}

.mu-dialog--maximized {
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
}

.mu-dialog--enter-from,
.mu-dialog--leave-to {
  & > .mu-dialog {
    transform: translateY(300px);
    opacity: 0;
  }
}

.mu-dialog__header,
.mu-dialog__footer {
  user-select: none;

  display: flex;
  flex: none;
  gap: 8px;
  align-items: center;

  padding: var(--mu-dialog-padding);

  line-height: 20px;
  color: var(--mu-text-color-normal);

  & > .flex-divider {
    align-self: center;
    height: calc(1em + 2px);
    margin: 0 var(--mu-base-spacing);
  }
}

.mu-dialog__header + .mu-dialog__footer {
  margin-top: auto;
}

.mu-dialog__footer {
  justify-content: flex-end;
}

.mu-dialog__body {
  flex: 1 1 auto;
}

.mu-dialog__icon {
  pointer-events: none;
  font-size: 24px;
}

.mu-dialog__title {
  pointer-events: none;
  flex: 1 1 0;
  font-size: calc(var(--mu-font-size-normal) + 2px);
  font-weight: 600;
}

.mu-dialog__sys-button {
  background: none !important;
}
