.mu-dialog {
  --mu-dialog-header-height: 56px;
  --mu-dialog-footer-height: 56px;

  position: absolute;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  min-width: 320px;
  max-width: 100%;
  min-height: 160px;
  max-height: 100%;
  border-radius: var(--mu-window-border-radius);

  font-size: var(--mu-font-size-normal);
  color: var(--mu-text-color-normal);

  background: var(--mu-bg-overlay);
  box-shadow: var(--mu-shadow-modal);

  transition: transform .2s, opacity .2s;

  &.mu-dialog--dragging {
    opacity: .8;
  }
}

.mu-dialog--maximized {
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
}

.mu-dialog--enter-from,
.mu-dialog--leave-to {
  & > .mu-dialog {
    transform: translateY(300px);
    opacity: 0;
  }
}

.mu-dialog__header,
.mu-dialog__footer {
  display: flex;
  flex: none;
  align-items: center;

  & > .flex-divider {
    align-self: center;
    height: calc(1em + 2px);
  }
}

.mu-dialog__header {
  user-select: none;
  height: var(--mu-dialog-header-height);
  padding-right: calc(var(--mu-base-spacing) * 2);
}

.mu-dialog__header-content {
  overflow: hidden;
  display: flex;
  flex: 1 1 0;
  gap: var(--mu-base-spacing);
  align-items: center;
  align-self: stretch;

  padding-right: var(--mu-base-spacing);
  padding-left: calc(var(--mu-base-spacing) * 2);
}

.mu-dialog__footer {
  gap: var(--mu-base-spacing);
  justify-content: flex-end;
  height: var(--mu-dialog-footer-height);
  padding: 0 calc(var(--mu-base-spacing) * 2);
}

.mu-dialog__body {
  overflow: hidden;
  flex: 1 1 auto;
}

.mu-dialog__icon {
  pointer-events: none;
  flex: none;
  font-size: 24px;
}

.mu-dialog__title {
  pointer-events: none;
  flex: 1 1 0;
  font-size: 14px;
  font-weight: 600;
}

.mu-dialog__sys-buttons {
  display: flex;
  flex: none;
  gap: var(--mu-base-spacing);
  align-items: center;
}

.mu-dialog__sys-button {
  cursor: pointer;
  flex: none;
  font-size: 20px;
  color: var(--mu-text-color-subtle);

  &:hover {
    color: var(--mu-primary-color-4);
  }

  &[danger]:hover {
    color: var(--mu-danger-color-4);
  }
}
