.mu-drawer-mask.mu-modal-mask {
  z-index: var(--mu-z-index-layer);
}

.mu-drawer {
  position: absolute;

  min-width: 200px;
  max-width: 100%;
  min-height: 200px;
  max-height: 100%;
  margin: auto;

  font-size: var(--mu-font-size-normal);
  color: var(--mu-text-color-normal);

  background: var(--mu-bg-overlay);
  box-shadow: var(--mu-shadow-layer);

  transition: transform .2s, opacity .2s;

  &.mu-drawer--rounded {
    border-radius: var(--mu-radius-modal);
  }

  &.mu-drawer--top {
    top: 0;
    right: 0;
    left: 0;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.mu-drawer--bottom {
    right: 0;
    bottom: 0;
    left: 0;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.mu-drawer--left {
    top: 0;
    bottom: 0;
    left: 0;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.mu-drawer--right {
    top: 0;
    right: 0;
    bottom: 0;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.mu-drawer--enter-from,
.mu-drawer--leave-to {
  & > .mu-drawer {
    opacity: 0;
  }

  & > .mu-drawer--top {
    transform: translateY(-100%);
  }

  & > .mu-drawer--bottom {
    transform: translateY(100%);
  }

  & > .mu-drawer--left {
    transform: translateX(-100%);
  }

  & > .mu-drawer--right {
    transform: translateX(100%);
  }
}
