.mu-modal-mask {
  position: fixed;
  z-index: var(--mu-z-index-modal);
  inset: 0;
  background: var(--mu-bg-mask);

  &[invisible] {
    pointer-events: none;
    background: none;
  }

  & > * {
    pointer-events: auto;
  }
}
