.mu-modal-mask {
  position: fixed;
  z-index: var(--mu-z-index-modal);
  inset: 0;

  background: var(--mu-bg-mask);

  transition-duration: .2s;

  &.absolute {
    position: absolute
  }

  &.mu-modal-mask--invisible {
    pointer-events: none;
    background: none;
  }

  & > * {
    pointer-events: auto;
  }
}
