<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Calendar Example</title>
  <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
  <script type="text/javascript" src="../dist/mussel.js"></script>
  <style>
  </style>
</head>

<body class="mu-background-normal">
  <div id="app">
    <h2>Calendar Example</h2>
    <hr>
    <h3>Calendar Panel</h3>
    <mu-calendar
      language="en"
      v-model="date1"
      select-mode='date'
      :range-start="rangeStart"
      :range-end="rangeEnd"
      :marked-dates = "markedDates"
      style="height: 400px; width: 600px;"
    >
    </mu-calendar>
    <h3>Date Editor</h3>
    <mu-date-editor v-model="date2" select-mode="month"></mu-date-editor>
    </div>
  </div>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        date1: '2019-7-2',
        date2: '2029-1-1',
        rangeStart: new Date(2019, 3, 5),
        rangeEnd: new Date(2019, 11, 15),
        startDate: new Date(2019, 2, 20),
        endDate: new Date(2019, 5, 20),
        markedDates: [
          new Date(2019, 2, 3),
          new Date(2019, 3, 20),
          new Date(2019, 4, 10)
        ]
      },
      methods: {
      }
    });
  </script>
</body>

</html>
