<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bar Example</title>

  <script type="text/javascript" src="../node_modules/vue/dist/vue.global.js"></script>
  <script type="text/javascript" src="../dist/mussel.js"></script>

  <link rel="stylesheet" type="text/css" href="../dist/mussel.css" />
  <link rel="stylesheet" type="text/css" href="./style.css" />

  <style>
    .color-block {
      display: inline-block;
      width: 100px;
      height: 100px;
      margin: 8px;
      line-height: 100px;
      text-align: center;
      color: #000;
    }
  </style>
</head>

<body class="mu-background-normal">
  <div id="app">
    <h2>Colors</h2>
    <div>
      <div>
        <h3 class="mu-text-color-subtitle">BASE</h3>
        <div
          v-for="color in baseColors"
          :key="color"
          :style="{ backgroundColor: `var(--mu-${color})`, color: '#fff' }"
          class="color-block">
          {{color }}
        </div>
      </div>
      <div>
        <h3 class="mu-text-color-subtitle">NEUTRAL</h3>
        <div
          v-for="n in 10"
          :key="n"
          :style="{ backgroundColor: `var(--mu-gray-${n - 1})`, color: n < 6 ? '#000' : '#fff' }"
          class="color-block">
          gray-{{ n - 1 }}
        </div>
        <div class="color-block" style="background-color: var(--mu-translucent-gray); color: var(--mu-gray);">translucent</div>
      </div>
      <div>
        <h3 class="mu-text-color-subtitle">PRIMARY</h3>
        <div
          v-for="n in 10"
          :key="n"
          :style="{ backgroundColor: `var(--mu-primary-color-${n - 1})`, color: n < 6 ? '#000' : '#fff' }"
          class="color-block">
          primary-{{ n - 1 }}
        </div>
        <div class="color-block" style="background-color: var(--mu-translucent-primary); color: var(--mu-primary-color);">translucent</div>
      </div>
      <div>
        <h3 class="mu-text-color-subtitle">SECONDARY</h3>
        <div
          v-for="n in 10"
          :key="n"
          :style="{ backgroundColor: `var(--mu-secondary-color-${n - 1})`, color: n < 6 ? '#000' : '#fff' }"
          class="color-block">
          secondary-{{ n - 1 }}
        </div>
        <div class="color-block" style="background-color: var(--mu-translucent-secondary); color: var(--mu-secondary-color);">translucent</div>
      </div>
      <div>
        <h3 class="mu-text-color-subtitle">SUCCESS</h3>
        <div
          v-for="n in 10"
          :key="n"
          :style="{ backgroundColor: `var(--mu-success-color-${n - 1})`, color: n < 6 ? '#000' : '#fff' }"
          class="color-block">
          success-{{ n - 1 }}
        </div>
        <div class="color-block" style="background-color: var(--mu-translucent-success); color: var(--mu-success-color);">translucent</div>
      </div>
      <div>
        <h3 class="mu-text-color-subtitle">WARNING</h3>
        <div
          v-for="n in 10"
          :key="n"
          :style="{ backgroundColor: `var(--mu-warning-color-${n - 1})`, color: n < 6 ? '#000' : '#fff' }"
          class="color-block">
          warning-{{ n - 1 }}
        </div>
        <div class="color-block" style="background-color: var(--mu-translucent-warning); color: var(--mu-warning-color);">translucent</div>
      </div>
      <div>
        <h3 class="mu-text-color-subtitle">DANGER</h3>
        <div
          v-for="n in 10"
          :key="n"
          :style="{ backgroundColor: `var(--mu-danger-color-${n - 1})`, color: n < 6 ? '#000' : '#fff' }"
          class="color-block">
          danger-{{ n - 1 }}
        </div>
        <div class="color-block" style="background-color: var(--mu-translucent-danger); color: var(--mu-danger-color);">translucent</div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    const app = Vue.createApp({
      setup () {
        return {
          baseColors: ['red', 'pink', 'grape', 'violet', 'indigo', 'blue', 'cyan', 'teal', 'green', 'lime', 'yellow', 'orange']
        }
      }
    })

    mussel.install(app)
    app.mount('#app')
  </script>
</body>

</html>
