<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
  <script type="text/javascript" src="../dist/mussel.js"></script>
  <title>Button Editor & Combo Box</title>
</head>

<body class="mu-background-normal">
  <div id="app">
    <h2>Editor & Combo Box</h2>
    <div>
      <h3>With Button</h3>
      <h5>Default Icon</h5>
      <mu-button-editor placeholder="input something" v-model="iconInput1Value"></mu-button-editor>
      <mu-button-editor placeholder="input something" icon-position="left">
      </mu-button-editor>
      <h5>Hide Clear Button</h5>
      <mu-button-editor :clearable="false" icon-position="left" value="text value">
      </mu-button-editor>
      <mu-button-editor :clearable="false" value="text value">
      </mu-button-editor>
      <h5>Round Shape</h5>
      <mu-button-editor icon="expand-all" input-shape="round" icon-position="left">
      </mu-button-editor>
      <mu-button-editor icon="collapse-all" input-shape="round">
      </mu-button-editor>
      <h5>Readonly & Disabled & Invalid</h5>
      <mu-button-editor icon="search" :editable="false" placeholder="uneditable">
      </mu-button-editor>
      <mu-button-editor readonly placeholder="readonly">
      </mu-button-editor>
      <p>
      <mu-button-editor disabled placeholder="disabled">
      </mu-button-editor>
      <mu-button-editor invalid placeholder="invalid">
      </mu-button-editor>
    </div>
    <br>
    <div>
      <h3>Popup Editor</h3>
      <h5>Custom Popup</h5>
      <mu-popup-editor :editable="false" value="xxx" popup-render-to-body>
        <div style="height: 200px; background: orange;"></div>
      </mu-popup-editor>
      <h5>Combo Box</h5>
      <mu-combo-box v-model="comboValue1" @change="onCombo1Change" placeholder="xxx">
        <mu-option value='tom' icon="calendar"></mu-option>
        <mu-option value='jack'></mu-option>
        <mu-option value='shawn'></mu-option>
        <mu-list-divider></mu-list-divider>
        <mu-option value='biff'></mu-option>
        <mu-option value='floopy'></mu-option>
      </mu-combo-box>
      <mu-combo-box v-model="comboValue2" multiple :options="comboOptions" @optionclick="onOptionClick">
      </mu-combo-box>
      <mu-combo-box v-model="comboValue3">
        <mu-option :value='true' label="true"></mu-option>
        <mu-option :value='false' label="false"></mu-option>
      </mu-combo-box>
      <h5>Search Combo Box</h5>
      <mu-search-box placeholder="input" @search="onSearch" >
      </mu-search-box>
      <mu-search-box
        value-mode="select"
        placeholder="query & select"
        :options="searchOptions"
        @search="onSearchQuery">
      </mu-search-box>
    </div>
  </div>
  <script type="text/javascript">
    var view = new Vue({
      el: '#app',
      data: {
        inputValue: '',
        iconInput1Value: 'text value',
        comboOptions: [
          { value: 1, label: '1' },
          { value: 2, label: '2' },
          { value: 3, label: '3' },
          { value: 4, label: '4' },
          { value: 5, label: '5' },
          { value: 6, label: '6' },
          { value: 7, label: '7' },
          { value: 8, label: '8' },
          { value: 9, label: '9' },
          { value: 10, label: '10' },
          { value: 11, label: '11' },
          { value: 12, label: '12' },
          { value: 13, label: '13' },
          { value: 14, label: '14' },
          { value: 15, label: '15' },
          { value: 16, label: '16' },
          { value: 17, label: '17' },
          { value: 18, label: '18' },
          { value: 19, label: '19' }
        ],
        comboValue1: '',
        comboValue2: [1,2],
        comboValue3: true,
        searchOptions: []
      },
      methods: {
        onDropdownItemClick: function () {
          window.mussel.hideDropdown()
        },
        onCombo1Change: function (value) {
          console.log(value)
          this.comboValue2 = null
          this.comboOptions = value
            ?  [
              { value: 1, label: '1_' + value },
              { value: 2, label: '2_' + value },
              { value: 3, label: '3_' + value },
              { value: 4, label: '4_' + value },
              { value: 5, label: '5_' + value }
            ]
            : null
        },
        onOptionClick: function (value, option) {
          
        },
        onSearch: function (value) {
          console.log(new Date(), value)
        },
        onSearchQuery: function (value) {
          for (var i = 0; i < 10; i++) {
            this.searchOptions[i] = { value: i, label: value + '_option_' + i }
          }
        }
      }
    })
  </script>
</body>

</html>