<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
  <script type="text/javascript" src="../dist/mussel.js"></script>
  <title>输入框与表单</title>
</head>

<body>
  <div id="app">
    <h2>输入框与输入框组</h2>
    <hr>
    <div>
      <h3>输入框</h3>
      <h5>正常状态</h5>
      <mu-input placeholder="请输入文字" v-model="inputValue"></mu-input>
      <h5>只读状态</h5>
      <mu-input value="我是只读的" readonly></mu-input>
      <h5>无效状态</h5>
      <mu-input value="我是无效的" invalid></mu-input>
      <h5>禁用状态</h5>
      <mu-input value="我是禁用的" disabled></mu-input>
    </div>

    <div>
      <h3>输入框组</h3>
      <h5>带图标的输入框</h5>
      <mu-input-box icon="search" :clearable="false" v-model="iconInput1Value"></mu-input-box>
      <mu-input-box icon="search" :clearable="false" value="图标在前" button-position="left">
      </mu-input-box>
      <h5>带按钮的输入框</h5>
      <mu-input-box icon="search" :clearable="false" icon-clickable value="按钮在后">
      </mu-input-box>
      <mu-input-box icon="search" :clearable="false" icon-clickable value="按钮在前" button-position="left">
      </mu-input-box>
      <h5>带清空按钮的输入框</h5>
      <mu-input-box value="没有图标">
      </mu-input-box>
      <mu-input-box icon="search" value="图标在后">
      </mu-input-box>
      <mu-input-box icon="search" value="图标在前" button-position="left">
      </mu-input-box>
      <h5>圆形的输入框</h5>
      <mu-input input-shape="round" value="没有图标">
      </mu-input>
      <mu-input-box icon="search" :clearable="false" input-shape="round" value="图标在后">
      </mu-input-box>
      <mu-input-box icon="search" :clearable="false" input-shape="round" value="图标在前" button-position="left">
      </mu-input-box>
      <h5>无效状态</h5>
      <mu-input-box invalid button-type="button" value="按钮在后">
      </mu-input-box>
      <mu-input-box invalid button-type="button" value="按钮在前" button-position="left">
      </mu-input-box>
      <h5>下拉框</h5>
      <!-- <mu-combo-box v-model="comboValue1" @change="onCombo1Change">
        <mu-option value='好好学习1'></mu-option>
        <mu-option value='好好学习2'></mu-option>
        <mu-option value='好好学习3'></mu-option>
        <mu-list-divider></mu-list-divider>
        <mu-option value='好好学习4'></mu-option>
        <mu-option value='好好学习5'></mu-option>
      </mu-combo-box>
      <mu-combo-box v-model="comboValue2" :options="comboOptions" editable @optionclick="onOptionClick">
      </mu-combo-box> -->
    </div>
    <mu-close-button class="window-close-button"></mu-close-button>
  </div>
  <script type="text/javascript">
    var view = new Vue({
      el: '#app',
      data: {
        inputValue: '',
        iconInput1Value: '图标在后',
        comboOptions: [
          { value: 1 },
          { value: 2 },
          { value: 3 },
          { value: 4 },
          { value: 5 },
          { value: 6 }
        ],
        comboValue1: '好好学习4',
        comboValue2: null
      },
      methods: {
        onDropdownItemClick: function () {
          window.mussel.hideDropdown()
        },
        onCombo1Change: function (value) {
          this.comboValue2 = null
          this.comboOptions = value
            ?  [
              '1_' + value,
              '2_' + value,
              '3_' + value,
              '4_' + value,
              '5_' + value
            ]
            : null
        },
        onOptionClick: function (value, option) {
          console.log(value, option.value || option)
        }
      }
    })
  </script>
</body>

</html>