<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Modal Example</title>
  <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
  <script type="text/javascript" src="../dist/mussel.js"></script>
  <style>
  </style>
</head>

<body class="mu-background-normal">
  <div id="app">
    <h2>Modal & Window</h2>
    <hr>
    <div>
      <h3>Modal Mask</h3>
      <div>
        <mu-button button-type="primary" @click="openModal1">Open Modal Mask 1</mu-button>
      </div>
      <mu-modal
        mask-action="close"
        class="mu-flex-box"
        flex-center
        v-model="model1Visible">
        Click mask or press 'ESC' to hide mask
      </mu-modal>
      <br>
      <div>
        <mu-button button-type="primary" @click="openModal2">Open Modal Mask 2</mu-button>
      </div>
      <mu-modal mask-action="none" class="mu-flex-box" flex-center v-model="model2Visible">
        Click mask or press 'ESC' have no effect
      </mu-modal>
    </div>
    <div>
      <h3>Window</h3>
      <div>
        <mu-button button-type="primary" @click="openDialog1">Open Window 1</mu-button>
      </div>
      <br>
      <div>
        <mu-button button-type="primary" @click="openDialog2">Open Window 2</mu-button>
      </div>
      <mu-dialog
        v-model="dialog1Visible"
        width="400px"
        height="300px"
        title="I am a superhero"
        primary-button="Confirm"
        :buttons="['Confirm', 'Cancel']"
        @buttonclick="onButtonClick">
        <mu-combo-box :options="options">
        </mu-combo-box>
      </mu-dialog>
    </div>
    <div>
      <h3>Message Box</h3>
      <h5>Alert</h5>
      <mu-button button-type="normal" @click="showAlert">Alert</mu-button>
      <h5>Confirm</h5>
      <mu-button button-type="primary" @click="showConfirm">Confirm</mu-button>
      <h5>Warn</h5>
      <mu-button button-type="danger" @click="showWarn">Warn</mu-button>
    </div>
  </div>

  <div id="xxx"></div>

  <script type="text/javascript">
    var dialog2 = new Vue({
      extends: mussel.BaseDialog,
      title: 'Hello',
      width: '50%',
      height: '35%',
      danger: true,
      maskAction: 'none',
      primaryButton: 'Confirm',
      buttons: [
        'Confirm',
        {
          caption: 'Cancel',
          action: 'close'
        }
      ],
      template: '<mu-dialog-wrapper>Winer winer，chicken dinner</mu-dialog-wrapper>'
    })
    var app = new Vue({
      el: '#app',
      data: {
        model1Visible: false,
        model2Visible: false,
        dialog1Visible: false,
        options: [
          { value: '1' },
          { value: '2' },
          { value: '3' },
          { value: '4' },
          { value: '5' }
        ]
      },
      methods: {
        openModal1 () {
          this.model1Visible = true
        },
        openModal2 () {
          this.model2Visible = true
        },
        openDialog1 () {
          this.dialog1Visible = true
        },
        openDialog2 () {
          dialog2.show()
        },
        onButtonClick (btn, win) {
          if (btn === 'Cancel') {
            win.hide()
          }
        },
        showAlert () {
          mussel.alert('I am iron man !')
          setTimeout(() => mussel.alert('I am iron man too !'), 1000)
        },
        showConfirm () {
          mussel.confirm('Are you spider man ?')
        },
        showWarn () {
          mussel.warn('Destroy thanos ?', btn => { console.log(btn) })
        }
      }
    });
  </script>
</body>

</html>
