<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Example</title>
  <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
  <script type="text/javascript" src="../dist/mussel.js"></script>
  <style>
  </style>
</head>

<body>
  <div id="app">
    <h2>浮动元素</h2>
    <hr>
    <div>
      <h3>遮罩</h3>
      <div>
        <mu-button button-type="primary" @click="openModal1">打开遮罩 1</mu-button>
      </div>
      <mu-modal
        mask-action="close"
        class="mu-flex-box"
        flex-center
        v-model="model1Visible">
        点击遮罩或者 按 ESC, 可以关闭
      </mu-modal>
      <br>
      <div>
        <mu-button button-type="primary" @click="openModal2">打开遮罩 2</mu-button>
      </div>
      <mu-modal mask-action="none" class="mu-flex-box" flex-center v-model="model2Visible">点击遮罩或者 按 ESC, 不可以关闭</mu-modal>
    </div>
    <div>
      <h3>窗口</h3>
      <div>
        <mu-button button-type="primary" @click="openDialog1">打开窗口 1</mu-button>
      </div>
      <br>
      <div>
        <mu-button button-type="primary" @click="openDialog2">打开窗口 2</mu-button>
      </div>
      <mu-dialog
        v-model="dialog1Visible"
        width="400px"
        height="300px"
        title="中华人民共和国成立70周年"
        primary-button="确认"
        :buttons="['确认', '取消']"
        @buttonclick="onButtonClick">
        123
      </mu-dialog>
    </div>
  </div>

  <div id="xxx"></div>

  <script type="text/javascript">
    var dialog2 = new Vue({
      extends: mussel.BaseDialog,
      title: '大吉大利，今晚吃鸡',
      width: '50%',
      height: '35%',
      danger: true,
      maskAction: 'none',
      primaryButton: '确定',
      buttons: [
        '确定',
        {
          caption: '取消',
          action: 'close'
        }
      ],
      template: '<mu-dialog-wrapper>123</mu-dialog-wrapper>'
    })
    var app = new Vue({
      el: '#app',
      data: {
        model1Visible: false,
        model2Visible: false,
        dialog1Visible: false
      },
      methods: {
        openModal1 () {
          this.model1Visible = true
        },
        openModal2 () {
          this.model2Visible = true
        },
        openDialog1 () {
          this.dialog1Visible = true
        },
        openDialog2 () {
          dialog2.show()
        },
        onButtonClick (btn, win) {
          if (btn === '取消') {
            win.hide()
          }
        }
      }
    });
  </script>
</body>

</html>
