<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Table Example</title>
  <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
  <script type="text/javascript" src="../dist/mussel.js"></script>
  <style>

  </style>
</head>

<body class="mu-background-normal">
  <div id="app">
    <h2>Table Example</h2>
    <hr>
    <div>
      <h3>Simple</h3>
      <mu-table
        :data="records"
        :row-height="40"
        :selected="selected"
        stripe
        border="all"
        height="400px"
        gridline="both"
        hover-mode="cell">
        <mu-table-check-column
          fixed
          @headerChange="onCheckColumnHeaderChange"
          @CellChange="onCheckColumnCellChange">
        </mu-table-check-column>
        <mu-table-column
          label="Name"
          field="f1"
          width="m"
          fixed>
        </mu-table-column>
        <mu-table-edit-column
          label="f2"
          field="f2"
          :editable="f2Editable">
        </mu-table-edit-column>
        <mu-table-combo-column
          label="text column 1"
          field="f3"
          width="m"
          :get-text="getF3Text"
          :get-style="getF3Style"
          :options="f3Options">
        </mu-table-combo-column>
        <mu-table-column label="text column 2" field="f2" width="xl"></mu-table-column>
        <mu-table-column label="text column 3" field="f2" width="xl"></mu-table-column>
        <mu-table-column label="f3" field="f3" fixed="right" width="s"></mu-table-column>
      </mu-table>
    </div>
    <mu-h-box v-if="false" v-mussel-scrollbar style="height: 400px;">
      <table style="width: 100%;" border="1" size="1">
        <tr v-for="(rec,idx) in records">
          <td>{{ rec.f1 }}</td>
          <td>{{ rec.f2 }}</td>
          <td>{{ rec.f2 }}</td>
          <td>{{ rec.f2 }}</td>
          <td>{{ rec.f3 }}</td>
          <td>{{ rec.f3 }}</td>
          <td>{{ rec.f1 }}</td>
          <td>{{ rec.f2 }}</td>
          <td>{{ rec.f2 }}</td>
          <td>{{ rec.f2 }}</td>
          <td>{{ rec.f3 }}</td>
          <td>{{ rec.f3 }}</td>
        </tr>
      </table>
    </mu-h-box>
  </div>

  <script type="text/javascript">
    var records = []
    for (var i = 0; i < 10; i++) {
      records.push({
        f1: i,
        f2: 'some text value',
        f3: i % 5
      })
    }
    let editable = false
    var app = new Vue({
      el: '#app',
      data: {
        records: records,
        selected: [],
        f3Options: [
          { value: 0, label: '未开始' },
          { value: 1, label: '进行中' },
          { value: 2, label: '已完成' },
          { value: 3, label: '已终止' },
          { value: 4, label: '已暂停' }
        ]
      },
      methods: {
        onCheckColumnHeaderChange: function () {
          console.log(arguments)
        },
        onCheckColumnCellChange: function () {
          console.log(arguments)
        },
        f2Editable: function (record) {
          return true
        },
        getF3Text: function (record) {
          var option = this.f3Options.find(function (el) {
            return el.value === record.f3
          })
          return option ? option.label : ''
        },
        getF3Style: function (record) {
          if (record.f3 > 2) return {
            color: 'red'
          }
        }
      }
    });
  </script>
</body>

</html>
