<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Combobox Example</title>

  <script type="text/javascript" src="../../node_modules/vue/dist/vue.global.js"></script>
  <script type="text/javascript" src="../../dist/mussel.js"></script>

  <link
    rel="stylesheet"
    type="text/css"
    href="./style.css" />

  <link
    rel="stylesheet"
    type="text/css"
    href="../../dist/mussel.css">

  <link
    rel="stylesheet"
    type="text/css"
    href="../../node_modules/@tabler/icons-webfont/dist/tabler-icons-outline.css">

  <style>
    .mu-combo-box {
      width: 300px;
    }

    .calendar1 {
      width: 800px;
      height: 600px;
      padding: 8px;
      border: 1px solid var(--mu-border-color);
    }
  </style>
</head>

<body>
  <div id="app" class="mu-box" position="fixed fit">
    <h2>
      CALENDAR
      <mu-switch
        active-label="Dark"
        inactive-label="Light"
        @update:model-value="onUIModeChange">
      </mu-switch>
    </h2>
    <div class="group">
      <mu-calendar class="calendar1" value-type="object" v-model="date"></mu-calendar>
    </div>
    <div class="group">
      <mu-date-input v-model="date"></mu-date-input>
      <mu-date-input v-model="date" type="month" format="yyyy-MM" value-type="object" ></mu-date-input>
    </div>
  </div>

  <script type="text/javascript">
    const app = Vue.createApp({
      setup () {
        const date = Vue.ref(new Date())

        return {
          date
        }
      },
      methods: {
        onUIModeChange (v) {
          document.querySelector('.mu-root').classList.toggle('mu-dark')
        }
      }
    })

    mussel.install(app)
    app.mount('#app')
  </script>
</body>

</html>
