.mu-trans {
  &[hover-rotate-90]:hover {
    transform: rotate(90deg);
  }

  &[hover-rotate-n90]:hover {
    transform: rotate(-90deg);
  }

  &[hover-rotate-180]:hover {
    transform: rotate(180deg);
  }

  &[hover-rotate-n180]:hover {
    transform: rotate(-180deg);
  }
}
