.mu-background-normal {
  background: $normalBackground;
}

.mu-background-grey {
  background: $normalGreyBackground;
}

.mu-background-highlight {
  background: $normalDarkGreyBackground;
  color: $normalHighlightTextColor;
}

.mu-background-info {
  background: $normalInfoBackground;
}

.mu-background-hover:hover {
  background: $normalHoverBackground;
}

.mu-background-disabled[disabled] {
  background: $normalDisabledBackground;
  color: $normalWeakTextColor;
}
