:root {
  --mu-primary-color: $primaryColor;
  --mu-primary-plus-color: $primaryPlusColor;
  --mu-primary-minus-color: $primaryMinusColor;
  --mu-primary-tiny-color: $primaryTinyColor;
  --mu-primary-shadow-color: $primaryShadowColor;
}

h1 {
  color: var(--mu-primary-color);
}