.mu-sidebar {
  position: relative;
  background: $normalBackground;
}

.mu-sidebar_body {
  overflow: auto;
}

.mu-sidebar_header {
  height: $normalBarHeight;
  border-bottom: 1px solid $normalDividerColor;
}

.mu-sidebar_footer {
  height: $normalBarHeight;
  border-top: 1px solid $normalDividerColor;
}