.mu-table {
  --head-row-height: 36px;
  --row-height: 36px;
  --cell-padding: 8px;
  --cell-line-height: 18px;

  --head-border-bottom: 1px solid var(--mu-border-color-soft);

  --gridline-row: none;
  --gridline-col: none;

  --select-bg: var(--mu-primary-faint);
  --hover-bg: var(--mu-gray-translucent);

  border: 1px solid var(--mu-border-color-normal);
  color: var(--mu-text-color-normal);
}

.mu-table {
  & > table {
    position: sticky;
    top: 0;
    table-layout: fixed;
    box-shadow: 0 0 0 1px var(--mu-border-color-soft);
  }

  & thead {
    position: sticky;
    z-index: 2;
    top: 0;

    & > tr {
      height: var(--head-row-height);
    }
  }

  & tr {
    height: var(--row-height);
  }
}

.mu-table__th,
.mu-table__td {
  position: relative;

  overflow: hidden;

  padding: var(--cell-padding);
  border-right: var(--gridline-col);

  font-size: inherit;
  line-height: var(--cell-line-height);
  text-overflow: ellipsis;
  white-space: nowrap;

  &.last-col {
    border-right: none;
  }

  &.fixed-col {
    position: sticky;
    z-index: 1;
  }
}

.mu-table__th {
  cursor: default;

  position: relative;

  border-bottom: var(--head-border-bottom);

  font-weight: 500;

  background-color: var(--mu-bg-header);
}

.mu-table__th--sortable {
  padding: var(--cell-padding) calc(var(--cell-padding) + 18px);

  & > .mu-sort-icon {
    position: absolute;
    right: var(--cell-padding);
    font-size: 18px;
    color: var(--mu-primary-color);
  }
}

.mu-table__td {
  border-top: var(--gridline-row);
  font-weight: 400;
  vertical-align: middle;
  background-color: var(--mu-bg-normal);
}

.mu-table__td--pre-line {
  white-space: pre-line;
}

.mu-table tr:first-child > td {
  border-top: none;
}

.mu-table--striped tr:nth-child(even) > td {
  background-color: var(--mu-bg-stripe);
}

.mu-table tr.mu-table__tr--selected > td {
  background-color: var(--select-bg);
}

.mu-table--empty,
.mu-table--gridlines-none {
  & > table {
    box-shadow: 0 -1px 0 1px var(--mu-border-color-soft);
  }
}

.mu-table--gridlines-all,
.mu-table--gridlines-row {
  --gridline-row: 1px solid var(--mu-border-color-soft);
}

.mu-table--gridlines-all,
.mu-table--gridlines-column {
  --gridline-col: 1px solid var(--mu-border-color-soft);
}

.mu-table--y-scrolled thead {
  box-shadow: var(--mu-shadow-float);
}

.mu-table--x-scrolled .last-fixed-col {
  border-right: 1px solid var(--mu-border-color-strong);
}

.mu-table--y-overflowed + .mu-table__footer {
  box-shadow: var(--mu-shadow-footer);
}

.mu-table--y-scrolled-end + .mu-table__footer {
  box-shadow: none;
}

.mu-table__scroll-phantom {
  position: absolute;
  z-index: -1;

  width: 1px;
  height: 1px;

  visibility: hidden;
}

.mu-table__hover-indicator {
  pointer-events: none;

  position: sticky;
  z-index: 2;
  top: 0;

  overflow: visible;

  width: 0;
  height: 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: var(--hover-bg);
  }
}

.mu-table__hover-indicator--row,
.mu-table__hover-indicator--cross {
  &::before {
    top: var(--hover-row-top);
    left: 0;
    width: var(--hover-row-width);
    height: var(--hover-row-height);
  }
}

.mu-table__hover-indicator--cell,
.mu-table__hover-indicator--cross,
.mu-table__hover-indicator--column {
  &::after {
    top: var(--hover-col-top);
    left: var(--hover-col-left);
    width: var(--hover-col-width);
    height: var(--hover-col-height);
  }
}

.mu-table__footer {
  position: relative;
  z-index: 2;

  overflow: hidden;

  min-height: 32px;
  max-height: 40px;
  margin-top: auto;
  padding: 4px var(--mu-base-spacing);
  border: 1px solid var(--mu-border-color-normal);
  border-top: none;

  background-color: var(--mu-bg-footer);
}
