* {
  box-sizing: border-box;
}

html {
  color: $textBlack;
  font-size: 14px;
  font-weight: 400;
}

body {
  position: relative;
  font-size: 100%;
}

html,
button {
  font-family: -apple-system,
               BlinkMacSystemFont,
               "PingFang SC",
               "Hiragino Sans GB",
               "Microsoft YaHei",
               "Helvetica Neue",
               Helvetica,
               Arial,
               sans-serif;
}