.mu-modal-mask.mu-message-mask {
  z-index: calc(var(--mu-z-index-ontop) - 1);
}

.mu-dialog.mu-message-box {
  max-width: 80%;
  max-height: 80%;
}

.mu-message-box__message {
  line-height: 20px;
  white-space: pre-wrap;
}
